* {
  margin:0px;
  padding:0px;
}

.menu {
  display:flex;
  justify-content:space-between;
  padding:30px 20px;
  background-color:rgba(0,0,0,0.5);
  color:#fff;
  text-align:center;
}

.rightmenu {
  display:flex;
  flex:0 0 70%;
}

.rightmenu ul {
  display:flex;
  flex:0 0 100%;
  list-style: none;
  justify-content: space-evenly;
}
